@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme{
    --font-display: "Bricolage Grotesque", sans-serif;
}

/* clerk user button adjust */
.cl-avatarBox {
    width: 2rem;
    height: 2rem;
}
/* carousel arrow */
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
    background-color: linear-gradient(135deg, #c5c53f 0%, #f9e508 100%);
    color: #b8e5c8 

}
.slick-prev:before,
.slick-next:before {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  will-change: auto;
}

.group:hover {
  will-change: transform;
}


body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
:root {
  --navbar-height: 114px;
}